<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436733751929-9vpimoeefv4novq1btamoc47jip4dako.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436733751929-9vpimoeefv4novq1btamoc47jip4dako</string>
	<key>API_KEY</key>
	<string>AIzaSyDAeiTyrl7GWW-yByZG0-AiajD2U7Cp7k0</string>
	<key>GCM_SENDER_ID</key>
	<string>436733751929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woodlands.wapp</string>
	<key>PROJECT_ID</key>
	<string>woodlandsapp-dc7a0</string>
	<key>STORAGE_BUCKET</key>
	<string>woodlandsapp-dc7a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436733751929:ios:970eb7fe2ee12fdac59aa8</string>
</dict>
</plist>